<%= form_for @report do |f| %>
  <% Report::FIELDS.each do |field| %>
    <div>
      <%= f.label field[:name], field[:display] %>
      <%= f.send(field[:type], field[:name]) %>
    </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
